@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Colors */
:root {
    --font-color: #495057;
    --heading-color: #343a40;
    --background: white;
    --dark-font-color: #1b1d25;
    --medium-font-color: #60656c;
    --light-font-color: #787f87;
    --light-background: #f6f8fb;
    --lighter-background: #e6e8eb;
    --border: #d6d9de;
    --link-color: #5c7cfa;
    --link-color-darker: #3b5bdb;
    --navbar-color: #4c6ef5;
    --blockquote: #edf2ff;
    --transparent-text: rgba(0, 0, 0, 0.7);
    --transparent-bg: rgba(0, 0, 0, 0.15);
    --code-font-family: Menlo, 'Roboto Mono', Courier New, monospace;
  }


/* Common components across screen sizes */

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto',
      Roboto, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: var(--font-color);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

/** Breakpoints, based on Bootstrap's sizing params **/

/* Media query with a tiny breakpoint */

@media screen and (min-width: 576px){

}

/* Media query with a small breakpoint */
@media screen and (min-width: 768px){

}

/* Media query with a medium breakpoint */
@media screen and (min-width: 992px){

}

/* Media query with a large breakpoint */
@media screen and (min-width: 1200px){

}
